<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>webdrop</title>

        <link rel="stylesheet" href="/index.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    </head>

    <body>
        <script>
            window.WebDrop = {
                token: <%- JSON.stringify(token) %>,
                metadata: <%- JSON.stringify(meta) %>
            };
        </script>

        <div id="app"></div>
        <script src="/app.js"></script>
    </body>

</html>
