<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>WebDrop | <%= status %></title>

        <link rel="stylesheet" href="index.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <%= message %>
    </body>

</html>
