#drop_zone {
  border: 1.5px solid #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt 'Helvetica-Light';
  color: #bbb;
}
