html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;

  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
